# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: formflowapi-ingress
#   namespace: formflow
#   annotations:
#     ingress.kubernetes.io/ssl-redirect: "false"
# spec:
#   rules:
#   - http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: formflowapi-service
#             port:
#               number: 80

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: formflowfront-ingress
  namespace: formflow
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: formflow.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: formflowfront-service
            port:
              number: 8080
